body {
    background: #2c28ed;
    background: linear-gradient(90deg,rgba(44, 40, 237, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    height: 150vh;
}

a {
    color: rgb(255, 255, 255);
}

.fascinate {
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

#jolly-lodger {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  text-align: center;
}

.dynapuff {
    font-family: "DynaPuff", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    list-style-type: none;
}

.comic-neue {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
    text-align: center;
}

p {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

.menu-bar {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.item {
  color: #ffffff;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  left: 1150px;
  top: 20px;
  font-family: "Fascinate", system-ui;
}

.item.title {
  font-weight: 400;
  font-family: "Fascinate", system-ui;
  font-size: 30px;
}

.item:hover {
  background-color: rgba(0, 0, 0,0.1);
}

a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #0004ff;
  width: 0%;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
  animation: heartbeat116 1.5s ease-in-out 0.3s infinite;
}

@keyframes heartbeat116 {
  0%, 100% {
    width: 100%;
  }
  50% {
    width: 60%;
  }
}